button{
  border:0;
  background: 0;
  font-family: sans-serif;
}
.App {
  font-size: calc(0.5em + 2vw);
  font-family: sans-serif;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}
.Header{
  display: flex;
  background-color:#ffffff; 
  justify-content: space-between;
  .Header_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:50%;
    background-color: #242424;
    flex-grow: 1;
    padding: 2em 2em 2em 1em ;
    color: #ffffff;
  }
  .Header_img{
    flex:50%;
    min-height: 100vh;
    min-width: 50vw;
    flex-grow: 1;
    display: block;
    background-image: url('../img/header_img2.jpg');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  p{
    margin:0px;
  }
  @media only screen and (max-width: 768px) {
    display: block;
  }
  
}
.Navbar{
  display: flex;
  text-align: left;
  justify-content: flex-start;
  button{
    color:#ffffff;
    margin:4px;
    padding-right: 1em;
    font-size: calc(0.5em + 1vw);
  }
}
.Type{
  display: inline-block;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
   
  animation: 
    typing 1.55s steps(16, end),
    blink-caret 1.05s step-end infinite;
    @keyframes typing {
      from { width: 0 }
      to { width: 70% }
    }
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: orange; }
    }
    
}
